.vscode
.idea

*.pyc
*.egg-info/*

.env
.env.*

# dependencies
**/node_modules/*

# Output
**/.output
**/.svelte-kit
ui/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# testing
/coverage

# production
/build
/ui/build
/ui/public

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.scratch/*
.venv/*


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# numba
*.nbc
*.nbi

/ui/build/*
/ui/.cache
/ui/public/*

/data/*
/tiles/*
/qgis_styles/*
