[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"geoalchemy2" = "*"
flask = "*"
flask-sqlalchemy = "*"
pandas = "*"
feather-format = "*"
flask-cors = "*"
gunicorn = "*"
"jinja2" = "*"
raven = {version = "*",extras = ["flask"]}
geopandas = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
black = "==19.3b0"
geopandas = "*"
rtree = "*"

[requires]
python_version = "3.6"
