[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
feather-format = "*"
gunicorn = "*"
requests = "*"
python-dotenv = "*"
geopandas = "*"
fastapi = "*"
uvicorn = {extras = ["standard"],version = "*"}
sentry-sdk = "*"
tqdm = "*"

[dev-packages]
pylint = "*"
black = "==19.10b0"
requests = "*"
sarp-connectivity = {editable = true,path = "."}
rtree = ">=0.9.3"
pyogrio = {editable = true,path = "./../pyogrio"}
pygeos = "*"
httpx = "*"

[requires]
python_version = "3.8"
