[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
feather-format = "*"
flask-cors = "*"
gunicorn = "*"
"jinja2" = "*"
raven = {version = "*",extras = ["flask"]}
requests = "*"
python-dotenv = "*"
geofeather = {editable = true,path = "./../geofeather"}

[dev-packages]
pylint = "*"
black = "==19.3b0"
geopandas = "*"
requests = "*"
rtree = "*"
nhdnet = {editable = true,path = "./../nhdnet"}
sarp-connectivity = {editable = true,path = "."}

[requires]
python_version = "3.7"
