/* Palette

Primary (https://colorhunt.co/palette/62803):
- #253b6e
- #1f5f8b
- #1891ac
- #d2ecf9

Secondary / highlight (complementary off 3rd color):
- #B51500
- #EA1B00
*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #333;
}

a,
a:active,
a:visited {
    color: #1891ac;
    text-decoration: none;
}

button:active,
button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit;
}

.hidden {
    display: none !important;
}

.text-quiet {
    color: #666 !important;
}
.text-quieter {
    color: #999 !important;
}
.text-small {
    font-size: small !important;
}
.text-smaller {
    font-size: smaller !important;
}
.text-align-right {
    text-align: right !important;
}
.text-align-center {
    text-align: center !important;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-justify-start {
    justify-content: flex-start;
}
.flex-justify-center {
    justify-content: center !important;
}
.flex-justify-end {
    justify-content: flex-end !important;
}
.flex-justify-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-grow {
    flex-grow: 1;
}

.full-height {
    height: 100%;
}

.fill-viewport {
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.no-margin {
    margin: 0 !important;
}

.info-box {
    border-radius: 6px;
    background: #e0f2fb;
    padding: 1em;
    color: #253b6e;
    height: 100%;
}

.info-box .subtitle {
    color: #253b6e;
    border-bottom: 4px solid #fff;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.info-box .subtitle img {
    width: 20%;
    margin-right: 0.25em;
}

.info-box li + li {
    margin-top: 1rem;
}

.info-box .button {
    width: 100%;
    margin-top: 2rem;
}

.dark .info-box {
    background: #fff;
}

/* Bulma overrides */
.button {
    background-color: transparent;
}
.button.is-info {
    background-color: #1891ac;
}
.button.is-info:hover {
    background-color: #147b92;
}
.button.is-info[disabled],
.button.is-info[disabled]:hover {
    background-color: #80c3d1;
}
.button.is-danger {
    background-color: #ea1b00;
}
.button.is-danger:hover {
    background-color: #b51500;
}

.tabs li.is-active a {
    color: #1891ac;
}

/* end Bulma overrides */

header {
    background: #253b6e;
    padding: 6px 0;
    border-bottom: 4px solid #1f5f8b;
}
header .logo {
    fill: white;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    border: none;
}
header .fa {
    margin-right: 0.25em;
}
header .nav-link {
    padding: 4px 8px;
    margin: -10px 0;
    border-radius: 6px;
    margin-right: 8px;
}
header .nav-link:hover {
    background: #1f5f8b;
}
header .nav-link.active {
    background: #1891ac;
}

footer {
    padding: 4px 10px;
    background: #253b6e;
    border-top: 1px solid #333;
}

footer a {
    color: white !important;
}

button.link {
    border: none;
    background: none;
    color: #1891ac;
    font-size: 1rem;
    cursor: pointer;
}

button.link.link-back {
    margin: -0.5rem 0 0.5rem -1rem;
    display: block;
}

.main {
    flex: 1;
    display: flex;
    overflow-y: auto;
    position: relative;
}

#Root {
    height: 100%;
    width: 100%;
}

#NotFound {
    align-self: center;
    width: 100%;
    position: relative;
}
@keyframes animateFish {
    0% {
        fill: #999;
        opacity: 0.2;
        transform: rotate(0deg) translate(0, 0);
    }
    33% {
        fill: #aaa;
        opacity: 0.1;
        transform: rotate(360deg) translate(10px, 100px);
    }
    50% {
        opacity: 0;
        fill: #eee;
        transform: rotate(360deg) translate(10px, 100px);
    }
    100% {
        fill: #fff;
        opacity: 0;
        transform: rotate(360deg) translate(20px, 100px);
    }
}
#NotFound svg {
    opacity: 0;
    color: #999;
    transform: rotate(0deg);
    animation: animateFish 5s infinite ease-in;
}

#ContentPage {
    width: 100%;
}

#ContentPage .page-header.title {
    font-size: 5rem;
}

#ContentPage .page-header.subtitle {
    margin-top: 0;
    font-size: 3rem;
}

#ContentPage .container:last-child {
    padding-bottom: 5rem;
}

#ContentPage section + section {
    margin-top: 4rem;
}

#ContentPage p {
    font-size: 18px;
}

#ContentPage .column img {
    border-radius: 6px;
}

#ContentPage .fa-exclamation-triangle {
    color: orange;
}

#ContentPage .list-disc {
    list-style: outside disc;
    padding-left: 1.1em;
}

#ContentPage > .container {
    max-width: 960px;
}

#ContentPageHeader h1 {
    font-size: 3rem;
}
#ContentPageHeader h2 {
    font-size: 2rem;
}

#ContentPageFooter {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 8px solid #1f5f8b;
}

#ContentPage .step h4 {
    margin-bottom: 0;
}

#ContentPage .step p {
    margin-left: 4rem;
}

#ContentPage ol {
    padding-left: 1.5rem;
}

#Sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    border-right: 1px solid #9b9b9b;
    background-color: #fff;
}

#Sidebar .loading-spinner {
    flex-grow: 1;
    font-size: 2rem;
    color: #aaa;
}

#Sidebar .loading-spinner p {
    margin-left: 0.25em;
}

#SidebarHeader {
    padding: 1rem 0.5rem 1rem 1rem;
    background: #f6f6f2;
    border-bottom: 1px solid #ddd;
}
#SidebarHeader.has-tabs {
    padding-bottom: 0;
    border-bottom: none;
    background: #fff;
}

#SidebarHeader.no-tabs {
    background: #fff;
    border-bottom: 4px solid #cce5f2;
}

#SidebarHeader .button {
    border: none;
}
#SidebarHeader .icon {
    color: #aaa;
    background: transparent;
}
#SidebarHeader .icon:hover {
    color: #666;
}
#SidebarHeader .tabs {
    margin: 1rem -0.5rem 0 -1rem;
    padding: 0.5rem 1rem 0;
    background: #e0f2fb;
    border-top: 4px solid #cce5f2;
}
#SidebarHeader .tabs ul {
    border-bottom: none;
}
#SidebarHeader .tabs .is-active a {
    background: #fff !important;
    color: inherit;
    font-weight: bold;
}
#SidebarHeader .tabs a:hover {
    background: #eee;
}
#SidebarFooter {
    flex-grow: 0;
    padding: 1rem 0;
    border-top: 1px solid #ddd;
    background: #f6f6f2;
}

#SidebarContent {
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

#SidebarContent .row {
    margin: 1em 0;
}
#SidebarContent .row + .row {
    border-top: 1px solid #eee;
    padding-top: 1em;
}

#SidebarContent .field {
    font-weight: bold;
    color: #555;
}

#SidebarContent .button-group {
    background: #e0f2fb;
    border-radius: 6px;
}

#SidebarContent .button-group .button {
    flex-grow: 1;
}
#SidebarContent .button-group .button:first-child {
    border-radius: 6px 0 0 6px;
}
#SidebarContent .button-group .button:last-child {
    border-radius: 0 6px 6px 0;
}
#SidebarContent .button-group .button:not(:first-child):not(:last-child) {
    border-radius: 0;
}
#SidebarContent .button-group .button {
    border-color: #cce5f2;
}
#SidebarContent .button-group .button:hover {
    background: #d2ecf9;
    border-color: #d2ecf9;
}

#SidebarContent .tabs ul {
    border-bottom-color: transparent;
}

#SidebarContent .tabs li a {
    border-bottom-width: 3px;
}

#SidebarContent .tabs a {
    border-bottom-color: transparent;
    transition: border-color 0.5s;
}

#SidebarContent .tabs .is-active a {
    border-bottom-color: inherit;
}
#SidebarContent .tabs a:hover {
    border-bottom-color: inherit;
}

#SidebarContent section.step + section {
    border-top: 1px solid #eee;
    padding-top: 1rem;
}

#SidebarContent section.step .subtitle {
    margin-bottom: 0.1em;
}

#SidebarContent section.step p {
    margin-left: 2.25rem;
    padding-bottom: 1rem;
}

#SidebarContent input[type="range"] {
    margin: 0 1em;
}

#MapContainer {
    position: absolute;
    left: 400px;
    right: 0;
    top: 0;
    bottom: 0;
}

#Legend {
    padding: 10px;
    max-width: 200px;
    background: white;
    position: absolute;
    bottom: 24px;
    right: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 8px #333;
    z-index: 2000;
}
#Legend h5 {
    line-height: 1.2;
    margin-bottom: 0.5em;
}

#LegendFootnote {
    margin-top: 1em;
    line-height: 1.1;
    max-width: 140px;
}

#Legend .legend-row + .legend-row {
    margin-top: 0.5em;
    padding-top: 0.5em;
    font-size: 0.9em;
    border-top: 1px solid #eee;
}

.legend-patch {
    width: 20px;
    height: 1em;
    border-color: #aaa;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}
.legend-patch:first-child {
    border-radius: 3px 3px 0 0;
    border-width-top: 1px;
}
.legend-patch:last-child {
    border-radius: 0 0 3px 3px;
}

.legend-patch-point {
    border: 1px solid transparent;
    flex-shrink: 0;
}

.legend-label {
    margin-left: 10px;
    line-height: 1;
    color: #666;
}

#SystemChooser {
    background: #fff;
    padding: 8px;
    border-radius: 0 0 6px 6px;
    box-shadow: 1px 1px 8px #333;
    margin-left: 12px;
}
#SystemChooser .button-group {
    background: #e0f2fb;
    border-radius: 6px;
}
#SystemChooser .button {
    background: none;
    pointer-events: auto;
    border-width: 0 0 4px 0;
    border-bottom-color: transparent;
    border-radius: 0;
    text-transform: lowercase;
}
#SystemChooser .button:hover {
    background: #d2ecf9;
}
#SystemChooser .button:first-child {
    border-radius: 6px 0 0 6px;
}
#SystemChooser .button:last-child {
    border-radius: 0 6px 6px 0;
}
#SystemChooser .button + .button {
    border-left: 1px solid #cce5f2;
}

#SystemChooser .button.active {
    background: #1891ac;
    color: #fff;
}
#SystemChooser .buttons {
    margin-left: 6px;
}

#SummaryUnitChooser a + a {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 1px solid #aaa;
}

.prioritization-details {
    margin-top: 2em;
}

.prioritization-details > div {
    width: 400px;
    background: #eee;
    padding: 1em;
    border-radius: 6px;
}
.prioritization-details h4 {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 4px solid #fff;
    font-weight: 700;
    color: #666;
}

.prioritization-details svg {
    width: 5em;
    height: 5em;
    margin: 0 auto;
    display: block;
}

.prioritization-details p {
    padding-left: 0 !important;
}

#SummaryUnitList li {
    line-height: 1.2;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
}
#SummaryUnitList li .fa-trash {
    color: #aaa;
}
#SummaryUnitList li .fa-trash:hover {
    color: inherit;
}
#SummaryUnitList li + li {
    margin-top: 1em;
}

.chart-score .title.is-6 {
    font-weight: normal;
    margin-bottom: 1rem;
}

.chart-score + .chart-score {
    margin-top: 3rem;
}
.chart-score .domain {
    position: relative;
    margin: 0.25rem 1.25rem 0;
    flex: 1;
}
.chart-score .domain-line {
    height: 2px;
    background: #ddd;
}

.chart-score .marker {
    position: absolute;
    padding-top: 0.25rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background: #666;
    margin-left: -1rem;
    text-align: center;
    color: #fff;
}

#BarrierDetails .title {
    margin: 1em 0 0.5em 0;
}
#BarrierDetails ul {
    padding-left: 2rem;
    list-style-type: disc;
}
#BarrierDetails ul li + li {
    margin-top: 0.25em;
}

.notification-container {
    padding: 2rem;
    max-width: 400px;
}

.notification.is-error {
    background: #b51500;
    color: white;
    font-size: 1.2em;
}

.histogram .histogram-bars {
    padding: 0.25rem 0;
}
.histogram .histogram-label {
    width: 4em;
    text-align: right;
    margin-right: 0.25em;
}
.histogram .bar-container {
    padding: 0.1em 0;
    border-left: 1px solid #aaa;
}
.histogram .bar {
    height: 1rem;
    background: #2c7fb8;
}
.histogram .bar.top {
    background: #c51b8a;
}

.modal .buttons {
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: 1px solid #eee;
}

.image-divider {
    height: 75%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 5rem 0;
}
.image-divider.top {
    background-position-y: top;
}
.image-divider.bottom {
    background-position-y: bottom;
}

.image-divider .credits,
.image-header .credits {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em 1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
}

.image-divider .credits a,
.image-header .credits a {
    color: #fff;
}

.image-header {
    height: 65%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 3rem;
}
.image-header + .container h1 {
    margin-top: 3rem;
}

.divider {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #eee;
}

.image-header > .container {
    max-width: 960px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem !important;
    border-radius: 2rem;
}

.circle-dark {
    background: #333;
    color: #fff;
    border-radius: 5em;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 0.5em;
    display: flex;
    flex-shrink: 0;
}

.map-control {
    z-index: 2000;
    padding: 4px;
    background: #fff;
    border: 1px solid #aaa;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.map-control:hover {
    background: #eee;
}

.map-control-toggle.fas {
    margin-top: 1px;
    cursor: pointer;
}

.map-control.is-open {
    background: #eee !important;
}

.map-control-header {
    margin: 0 0.5em;
    font-weight: bold;
}
.map-control-form {
    padding: 8px;
}
.map-control input {
    border: 1px solid #aaa;
    padding: 3px 4px;
    border-radius: 2px;
}

.map-control input.invalid {
    color: #ea1b00;
    border-color: #ea1b00;
}

.map-control-form-row + .map-control-form-row {
    margin-top: 8px;
}

.map-control-form .button + .button {
    margin-left: 1em;
}

.map-control-lat-long {
    top: 64px;
    left: 10px;
}
