html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #333;
}

a,
a:active,
a:visited {
    color: #0074d9;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.text-quiet {
    color: #666 !important;
}
.text-quieter {
    color: #999 !important;
}
.text-small {
    font-size: small !important;
}
.text-smaller {
    font-size: smaller !important;
}
.text-align-right {
    text-align: right !important;
}
.text-align-center {
    text-align: center !important;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-justify-start {
    justify-content: flex-start;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-grow {
    flex-grow: 1;
}

.full-height {
    height: 100%;
}

.fill-viewport {
    min-height: 100vh;
}

header {
    background: #073763;
    padding: 6px 0;
}
header .logo {
    fill: white;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    border: none;
}
header .fa {
    margin-right: 0.25em;
}
header .nav-link {
    padding: 4px 8px;
    margin: -10px 0;
    border-radius: 6px;
    margin-right: 8px;
}
header .nav-link:hover {
    background: #2c557a;
}
header .nav-link.active {
    background: #597996;
}

footer {
    padding: 4px 10px;
    background: #073763;
    border-top: 1px solid #333;
}

footer a {
    color: white !important;
}

.main {
    flex: 1;
    display: flex;
    overflow-y: auto;
}

#Root {
    height: 100%;
    width: 100%;
}

#NotFound {
    align-self: center;
    width: 100%;
    position: relative;
}
@keyframes animateFish {
    0% {
        fill: #999;
        opacity: 0.2;
        transform: rotate(0deg) translate(0, 0);
    }
    33% {
        fill: #aaa;
        opacity: 0.1;
        transform: rotate(360deg) translate(10px, 100px);
    }
    50% {
        opacity: 0;
        fill: #eee;
        transform: rotate(360deg) translate(10px, 100px);
    }
    100% {
        fill: #fff;
        opacity: 0;
        transform: rotate(360deg) translate(20px, 100px);
    }
}
#NotFound svg {
    opacity: 0;
    color: #999;
    transform: rotate(0deg);
    animation: animateFish 5s infinite ease-in;
}

#Home {
    width: 100%;
    background: #ee7d140a;
}
#Home > section {
    background-color: #f5f7f9;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 20px solid #333;
}
#Home > section.dark,
#HomeFooter {
    border-bottom: none !important;
}

#Home .hero.container {
    max-width: 960px;
    background: #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

#Home .dark .hero {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
}
#Home .dark .title,
#Home .dark .subtitle {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
#Home .hero {
    min-height: 100vh;
}
#Home p {
    font-size: 18px;
}

#HomeHeader h1 {
    font-size: 3rem;
}
#HomeHeader h2 {
    font-size: 2rem;
}

#HomeFooter .hero {
    min-height: auto;
}
