html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #333;
}

a,
a:active,
a:visited {
    color: #0074d9;
    text-decoration: none;
}

button:active,
button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit;
}

.hidden {
    display: none !important;
}

.text-quiet {
    color: #666 !important;
}
.text-quieter {
    color: #999 !important;
}
.text-small {
    font-size: small !important;
}
.text-smaller {
    font-size: smaller !important;
}
.text-align-right {
    text-align: right !important;
}
.text-align-center {
    text-align: center !important;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-justify-start {
    justify-content: flex-start;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-grow {
    flex-grow: 1;
}

.full-height {
    height: 100%;
}

.fill-viewport {
    min-height: 100vh;
}

header {
    background: #073763;
    padding: 6px 0;
}
header .logo {
    fill: white;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    border: none;
}
header .fa {
    margin-right: 0.25em;
}
header .nav-link {
    padding: 4px 8px;
    margin: -10px 0;
    border-radius: 6px;
    margin-right: 8px;
}
header .nav-link:hover {
    background: #2c557a;
}
header .nav-link.active {
    background: #597996;
}

footer {
    padding: 4px 10px;
    background: #073763;
    border-top: 1px solid #333;
}

footer a {
    color: white !important;
}

.main {
    flex: 1;
    display: flex;
    overflow-y: auto;
    position: relative;
}

#Root {
    height: 100%;
    width: 100%;
}

#NotFound {
    align-self: center;
    width: 100%;
    position: relative;
}
@keyframes animateFish {
    0% {
        fill: #999;
        opacity: 0.2;
        transform: rotate(0deg) translate(0, 0);
    }
    33% {
        fill: #aaa;
        opacity: 0.1;
        transform: rotate(360deg) translate(10px, 100px);
    }
    50% {
        opacity: 0;
        fill: #eee;
        transform: rotate(360deg) translate(10px, 100px);
    }
    100% {
        fill: #fff;
        opacity: 0;
        transform: rotate(360deg) translate(20px, 100px);
    }
}
#NotFound svg {
    opacity: 0;
    color: #999;
    transform: rotate(0deg);
    animation: animateFish 5s infinite ease-in;
}

#Home {
    width: 100%;
    background: #ee7d140a;
}
#Home > section {
    background-color: #f5f7f9;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 20px solid #333;
}
#Home > section.dark,
#HomeFooter {
    border-bottom: none !important;
}

#Home .hero.container {
    max-width: 960px;
    background: #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

#Home .dark .hero {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
}
#Home .dark .title,
#Home .dark .subtitle {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
#Home .hero {
    min-height: 100vh;
}
#Home p {
    font-size: 18px;
}

#HomeHeader h1 {
    font-size: 3rem;
}
#HomeHeader h2 {
    font-size: 2rem;
}

#HomeFooter .hero {
    min-height: auto;
}

#Sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    border-right: 1px solid #9b9b9b;
    background-color: #fff;
}

#SidebarHeader {
    padding: 1em 0.5em 1em 1em;
    background: #eee;
    border-bottom: 1px solid #ddd;
}
#SidebarHeader .button {
    border: none;
}
#SidebarHeader .icon {
    color: #aaa;
    background: transparent;
}
#SidebarHeader .icon:hover {
    color: #666;
}

#SidebarContent {
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}

#MapContainer {
    position: absolute;
    left: 400px;
    right: 0;
    top: 0;
    bottom: 0;
}

#Legend {
    padding: 10px;
    background: white;
    position: absolute;
    bottom: 24px;
    right: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 8px #333;
    z-index: 2000;
}

.legend-patch {
    width: 20px;
    height: 1em;
    box-shadow: 1px 1px 4px #aaa;
}
.legend-patch:first-child {
    border-radius: 3px 3px 0 0;
}
.legend-patch:last-child {
    border-radius: 0 0 3px 3px;
}

.legend-label {
    margin-left: 10px;
    line-height: 1;
    color: #666;
}

#SystemChooser {
    background: #fff;
    padding: 8px;
    border-radius: 0 0 6px 6px;
    box-shadow: 1px 1px 8px #333;
    margin-left: 12px;
}
#SystemChooser .button {
    pointer-events: auto;
    /* border-color: #dbdbdb !important; */
    border-width: 0 0 4px 0;
    border-bottom-color: transparent;
    border-radius: 0;
}
#SystemChooser .button.active {
    border-bottom-color: #597996;
    /* color: #fff; */
    font-weight: bold;
}
#SystemChooser .buttons {
    margin-left: 6px;
}
