# run this using docker compose from this directory
# > docker compose up -d caddy


:80 {
  log {
    level ERROR
  }

  # common headers
  header X-Content-Type-Options nosniff
  header Referrer-Policy "strict-origin-when-cross-origin"

  # Set CORS: allow all origins for testing (this is set inside FastAPI)
  # header Access-Control-Allow-Origin *
  # header Access-Control-Request-Method *
  # header Access-Control-Request-Headers *

  route /services* {
      header Cache-Control "public, max-age=3600, must-revalidate"
      reverse_proxy host.docker.internal:8001
  }

  route /downloads/national/* {
    header Cache-Control "no-cache"
    header Content-Disposition attachment
    uri strip_prefix /downloads/national
    root * /data/api/downloads
    file_server
  }

  route /downloads/custom/* {
    header Cache-Control "no-cache"
    header Content-Disposition attachment
    uri strip_prefix /downloads/custom
    root * /downloads/custom
    file_server
  }
  route /api/v1* {
    @encode_paths {
      path */query/* */rank/* */public/* */docs/* */details/*
    }

    encode @encode_paths zstd gzip {
      # enable gzip of octet-stream (disabled by default)
      match {
          header Content-Type text/*
          header Content-Type application/json
          header Content-Type application/octet-stream
      }
    }

    reverse_proxy host.docker.internal:5000
  }

  route /* {
    # files marked immutable by vite can be cached indefinitely, they are rebuilt
    # with new names each time
    @immutable_files {
      path */_app/immutable/*
    }
    header @immutable_files Cache-Control "public,max-age=31536000,immutable"

    # site root, routes, and HTML files must be fetched each time
    @no_cache {
      path *.html *.webmanifest */page-data/* / /priority/* /survey/* /explore/* /methods/* /regions/* /states/* /fhp/* /report/* /terms-of-use/* /statistics/*
    }
    header @no_cache Cache-Control "public, max-age:0, must-revalidate"

    # IMPORTANT: must contain all of the above routes
    @default_files {
      not path */_app/immutable/* *.html *.webmanifest */page-data/* / /priority/* /survey/* /explore/* /methods/* /regions/* /states/* /fhp/* /report/* /terms-of-use/* /statistics/*
    }
    header @default_files Cache-Control "public,max-age=3600,must-revalidate"

      # Capture client only routes and route through correct page to force loading on client side
    # NOTE: the 404 page is the pre-rended fallback, it will route correctly to the dynamic routes
    # rewrite /report/dams/* /404.html
    # rewrite /report/combined_barriers/* /404.html
    # rewrite /report/largefish_barriers/* /404.html
    # rewrite /report/smallfish_barriers/* /404.html

    encode zstd gzip
    root * /var/www
    file_server

    # route through 404 to force loading on client side
    try_files {path} 404.html
  }

  # Redirect all errors to 404.html
  handle_errors {
      @404 {
          expression {http.error.status_code} == 404
      }
      rewrite @404 /404.html
      file_server
  }
}