# redirect legacy domain name
connectivity.sarpdata.com:80 {
  log {
    level ERROR
  }

  redir https://aquaticbarriers.org{uri} 308
}
connectivity.sarpdata.com:443 {
  log {
    level ERROR
  }

  redir https://aquaticbarriers.org{uri} 308
}

# redirect www subdomain HTTP / HTTPS to bare domain
www.aquaticbarriers.org:80 {
  log {
    level ERROR
  }

  redir https://aquaticbarriers.org{uri} 308
}

www.aquaticbarriers.org:443 {
  log {
    level ERROR
  }

  redir https://aquaticbarriers.org{uri} 308
}

aquaticbarriers.org {
  log {
    level ERROR
  }

  # common headers
  header Strict-Transport-Security "max-age=63072000; preload"
  header X-Frame-Options "DENY"
  header Content-Security-Policy "default-src 'self' *.googletagmanager.com *.mapbox.com *.sentry.io; connect-src *; img-src 'unsafe-inline' * data: blob:; media-src 'unsafe-inline' *; worker-src * blob:; style-src 'unsafe-inline' *; script-src 'unsafe-inline' 'unsafe-eval' *"
  header X-Content-Type-Options nosniff

  # redirect previous paths to tool
  # TODO: switch to 308 redirects
  # NOTE: backend endpoints will likely fail if used directly from frontend due to CORS
  @old_backend_paths {
    path /api/* /downloads/* /services/*
  }
  redir @old_backend_paths https://tool.aquaticbarriers.org{uri} 307

  # redirect page paths (note: have to include all terminal pages with and without trailing slash)
  @old_frontend_paths {
    path /priority/ /explore/ /methods/* /regions/* /states/* /fhp/* /report/*
  }
  redir @old_frontend_paths https://tool.aquaticbarriers.org{uri} 307

  route /* {
    # files marked immutable by vite can be cached indefinitely, they are rebuilt
    # with new names each time
    @immutable_files {
      path */_app/immutable/*
    }
    header @immutable_files Cache-Control "public,max-age=31536000,immutable"

    # pages must be fetched each time
    @no_cache {
      path *.html / /inventory/ /teams/ /training/ /faq/
    }
    header @no_cache Cache-Control "public, max-age:0, must-revalidate"

    # IMPORTANT: must contain all of the above routes
    @default_files {
      not path */_app/immutable/* *.html / /inventory/ /teams/ /training/ /faq/
    }
    header @default_files Cache-Control "public,max-age=3600,must-revalidate"

    encode zstd gzip

    root * /var/www/nacc-home
    file_server

    try_files {path} 404.html
  }

  # Redirect all errors to 404.html
  handle_errors {
      @404 {
          expression {http.error.status_code} == 404
      }
      rewrite @404 /404.html
      file_server
  }
}



tool.aquaticbarriers.org {
  log {
    level ERROR
  }

  # common headers
  header Strict-Transport-Security "max-age=63072000; preload"
  header X-Frame-Options "DENY"
  header Content-Security-Policy "default-src 'self' *.googletagmanager.com *.mapbox.com *.sentry.io; connect-src *; img-src 'unsafe-inline' * data: blob:; media-src 'unsafe-inline' *; worker-src * blob:; style-src 'unsafe-inline' *; script-src 'unsafe-inline' 'unsafe-eval' *"
  header X-Content-Type-Options nosniff

  # Set CORS
  header Access-Control-Allow-Origin "https://tool.aquaticbarriers.org"
  header Access-Control-Request-Method *
  header Access-Control-Request-Headers *

  route /services* {
      header Cache-Control "public, max-age=3600, must-revalidate"
      reverse_proxy localhost:8000
  }

  route /downloads/national/* {
    header Cache-Control "no-cache"
    header Content-Disposition attachment
    uri strip_prefix /downloads/national
    root * /data/api/downloads
    file_server
  }

  route /downloads/custom/* {
    header Cache-Control "no-cache"
    header Content-Disposition attachment
    uri strip_prefix /downloads/custom
    root * /downloads/custom
    file_server
  }

  route /api/v1* {
    header Cache-Control "public, max-age:300, must-revalidate"

    @encode_paths {
      path */query/* */rank/* */public/* */docs/* */details/*
    }

    encode @encode_paths zstd gzip {
      # enable gzip of octet-stream (disabled by default)
      match {
          header Content-Type text/csv
          header Content-Type application/octet-stream
      }
    }

    reverse_proxy localhost:5000
  }

  route /* {
    # redirect teams page
    redir /teams https://aquaticbarriers.org/teams/ 308

    # files marked immutable by vite can be cached indefinitely, they are rebuilt
    # with new names each time
    @immutable_files {
      path */_app/immutable/*
    }
    header @immutable_files Cache-Control "public,max-age=31536000,immutable"

    # site root, routes, and HTML files must be fetched each time
    @no_cache {
      path *.html *.webmanifest */page-data/* / /priority/* /survey/* /explore/* /methods/* /regions/* /states/* /fhp/* /report/* /terms-of-use/* /statistics/*
    }
    header @no_cache Cache-Control "public, max-age:0, must-revalidate"

    # IMPORTANT: must contain all of the above routes
    @default_files {
      not path */_app/immutable/* *.html *.webmanifest */page-data/* / /priority/* /survey/* /explore/* /methods/* /regions/* /states/* /fhp/* /report/* /terms-of-use/* /statistics/*
    }
    header @default_files Cache-Control "public,max-age=3600,must-revalidate"

    encode zstd gzip

    root * /var/www/sarp-connectivity
    file_server

    # route through 404 to force loading on client side
    try_files {path} 404.html
  }

  # Redirect all errors to 404.html
  handle_errors {
      @404 {
          expression {http.error.status_code} == 404
      }
      rewrite @404 /404.html
      file_server
  }
}