{
  "processors": [
    [
      "stylelint-processor-styled-components",
      {
        "moduleName": "style"
      }
    ]
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": null,
    "value-keyword-case": null,
    "declaration-empty-line-before": null,
    "declaration-colon-newline-after": null
  }
}
